html,body{
    height: 100%;
    
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0px;
}

img{
    display:none;
}

div{
    padding: 10px;
}

.container{
    display: block;
    justify-content: center;
    align-items: center;
  }

.xyposition{
        user-select: none;
        background-color: rgba(255, 255, 255, 0.363);
        caret-color: transparent;
        pointer-events: none;
        position: absolute;
        top: 9%; 
        left: 6%;
        
        font-family: verdana;
        font-size: 2em;
        font-weight: 700;
        color: #231919;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #919191,
            1px 3px 1px #919191,
            1px 4px 1px #919191,
            1px 5px 1px #919191,
            1px 6px 1px #919191,
            1px 7px 1px #919191,

        1px 1px 6px rgba(16,16,16,0.4),
        1px 2px 10px rgba(16,16,16,0.2),
        1px 5px 35px rgba(16,16,16,0.2),
        1px 10px 60px rgba(16,16,16,0.4);
}

.game{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 185, 255, 0.571);
    top: 60%;
    right: 10%;
    width: 20%;
    height: 10%;
    font-weight: 600;
    text-shadow: 2px 2px 2px white;
    z-index:3;
    user-select: none;
    caret-color: transparent;
    pointer-events: none;
    padding: 0.5%;
    pointer-events: none;
}

.canvas{
    user-select: none;
}

@keyframes flashcorrect {
    0% {
        color: rgb(30, 255, 30);
        opacity:1;
    }
    52% {
        color: rgb(7, 54, 13);
    }
}
   
.flashcorrect {
    animation-name: flashcorrect;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}  

@keyframes flashwrong {
    0% {
        color: #dc143c;
        opacity:1;
    }
    77% {
        color: #430101;
    }
}

.flashwrong {
    animation-name: flashwrong;
    animation-duration: 900ms;
    animation-iteration-count: 0.5;
    animation-timing-function: ease-in-out;
}  
